<html>
    <head>
        {% load static %}
        <title>PreneurBot</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'dashboard/materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/nav.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'dashboard/materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/init.js' %}"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/script.js' %}"></script>
    </body>
</html>
