<div class="row">
   <div class="col s12 m3">
      <div class="card card1">
         <div class="card-content white-text">
            <span class="card-title" id="count-down">00:00:00
            </span>
            <p>Till next run
            </p>
         </div>
      </div>
   </div>
   <div class="col s12 m3">
      <div class="card card2">
         <div class="card-content white-text">
            <span class="card-title">{{ total_users }}
            </span>
            <p>Total users
            </p>
         </div>
      </div>
   </div>
   <div class="col s12 m3">
      <div class="card card3">
         <div class="card-content white-text">
            <span class="card-title">{{ total_inactive }}
            </span>
            <p>Total inactive users
            </p>
         </div>
      </div>
   </div>
   <div class="col s12 m3">
      <div class="card card4">
         <div class="card-content white-text">
            <span class="card-title">{{ total_active }}
            </span>
            <p>Total active users
            </p>
         </div>
      </div>
   </div>
</div>