{% extends 'dashboard/base.html' %}
{% block content %}

{% include 'dashboard/nav.html' %}
{% include 'dashboard/cards.html' %}

<div class="row">
   <div class="col s12 m6 table-div">
      <h5 style="color: #459A5E">Top Earners</h5>
      <hr>
      <div class="shadow">

      <table class="striped">
         <thead>
            <tr>
               <th>Username</th>
               <th>Total money earned</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Alvin</td>
               <td>Eclair</td>
            </tr>
            <tr>
               <td>Alan</td>
               <td>Jellybean</td>
            </tr>
            <tr>
               <td>Jonathan</td>
               <td>Lollipop</td>
            </tr>
            <tr>
               <td>Jonathan</td>
               <td>Lollipop</td>
            </tr>
         </tbody>
      </table>
      </div>
   </div>
   <div class="col s12 m6 table-div">
      <h5>Ready for buying</h5>
      <hr>
      <div class="shadow">

         <table class="striped">
            <thead>
               <tr>
                  <th>Username</th>
                  <th>Earnings balance</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
               </tr>
               <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
               </tr>
               <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
               </tr>
               <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

</div>

<div class="row">
   <div class="col s12 m6  table-div">
      <h5 style="color: #E84F38;">Near payment expiration</h5>
      <hr>
      <div class="shadow">

         <table class="striped">
            <thead>
               <tr>
                  <th>Username</th>
                  <th>Expiration</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
               </tr>
               <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
               </tr>
               <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
               </tr>
               <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="col s12 m6  table-div">
      <h5 style="color: #F9CA3A;">Near PreneurX membership expiration</h5>
      <hr>
      <div class="shadow">

         <table class="striped">
            <thead>
               <tr>
                  <th>Username</th>
                  <th>Expires after</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
               </tr>
               <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
               </tr>
               <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
               </tr>
               <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
<button id="click-me">Click me</button>

{% endblock %}
